@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

/* li a {
  text-decoration: none;
} */

a {
  text-decoration: none !important;
  color: black !important;
}

.nav-items-centred {
  justify-content: end;
}

.navbar-container h2 {
  font-family: "Grand Hotel", cursive;
  cursor: pointer;
}

.custom-nav {
  z-index: 1;
  background-color: rgb(196, 196, 196);
  justify-content: end;
}

.home {
  z-index: -1;
}

.nav-link-style.active {
  background-color: rgb(136, 131, 131) !important;
}

.logout-button {
  margin-right: 12px;
}

.image-container {
  height: 400px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comments-container {
  height: 100px;
  overflow-y: scroll;
}

.profile-images {
  width: 350px;
  height: 400px;
  overflow: hidden;
}

.profile-images img {
  width: 300px;
  height: 80%;
  overflow: hidden;
}
nav {
  background-color: rgb(196, 196, 196) !important;
  margin-bottom: 40px !important;
}

.blue.darken-1 {
  background-color: #6c757d !important;
}

.form-container {
  margin: 30px auto;
  max-width: 500px !important;
}

.upload-button {
  border-radius: 4px;
  background-color: #6c757d !important;
  padding: 8px;
  cursor: pointer;
}

.signin-button {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.navitems {
  margin: 0px 7px 0px 7px;
}

.like-button {
  cursor: pointer;
}
